<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.igor.bodyfit"
    versionCode = "4"
    version     = "1.0.5" >

<!-- versionCode is optional and Android only -->


  

  <name>Easy BodyCalc</name>

  <description>
      A calculator for your body.
  </description>

  <author href="https://www.linkedin.com/in/igor-souto/" email="igor_souto@outlook.com">
Igor Souto  </author>


	<icon src="img/icon.png" />

    


</widget>
